.note-white {
  height: 164px;
  width: 80px;
  background: white;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.note-black {
  height: 80px;
  width: 122px;
  background: #ccc;
  border: 1px solid darkgray;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  color: white;
}

.note-black.e,
.note-black.p {
  height: 80px;
  width: 80px;
}

.note-black:active,
.note-white:active {
  background-color: lightcyan;
  color: #ccc;
}

.note-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-1 {
  display: flex;
  flex-direction: column;
}

.col-2 {
  display: flex;
  align-self: flex-end;
}
