.note-white {
  height: 164px;
  width: 80px;
  background: white;
  border: 1px solid darkgray;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.note-black {
  height: 80px;
  width: 122px;
  background: #cccc;
  border: 1px solid darkgray;
  border-radius: 2px;
  margin: 2px;
  cursor: pointer;
  color: black;
  text-transform: uppercase;
}

.note-black.e,
.note-black.p {
  height: 80px;
  width: 80px;
}

.note-black:active,
.note-white:active {
  background-color: lightcyan;
  color: #ccc;
}

.note-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: column;
}

.active {
  background-color: lightcyan;
  color: darkgray;
}

.red {
  color: red
}
